<div style =" height :100%;">
<table class ="home-page-table" >
  <tr>
    <td style = "vertical-align: bottom; height : 300px;"><span class="home-page-content">概念读书体验，让你重新爱上阅读</span></td>
    <td rowspan="2"><img class = "home-page-img" src="image/iphone-02.png" /></td>
  </tr>
  <tr>
    <td style = "vertical-align: top; " >
      <button class="ui-button ui-widget ui-corner-all home-page-button" onclick="window.open('https://itunes.apple.com/us/app/niu-du-du-shu-dong-ni-zhi/id1055239622?mt=8')">APPLE STORE 下载 </button>
      <button class="ui-button ui-widget ui-corner-all home-page-button" onclick="window.open('http://www.wandoujia.com/apps/com.jeturtle.niuread')">ANDROID 下载（中国）</button>
      <button class="ui-button ui-widget ui-corner-all home-page-button" onclick="window.open('https://play.google.com/store/apps/details?id=com.jeturtle.niuread')">ANDROID 下载（北美）</button>
    </td>
  </tr>
</table>
</div>
